html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#contact-info p {
  margin-top: 10px;
  margin-left: 25.5%;
}

input[type="text"] {
  padding-left: 20px;
  padding-right: 20px;
}

.icons a img {
  height: 100px;
}

@media (max-width: 399px) {
  .body {
    margin-left: 50px;
  }
  small {
    color: gold;
  }
  .info {
    text-align: center;
  }
  #contact-info p {
    margin-left: 0px;
    padding-left: 0px;
  }
  .icons a img {
    height: 50px;
  }
  .h4 {
    font-size: medium;
    font-weight: bold;
    padding-top: 2px;
  }
  input[type="text"] {
    background-color: aqua;
  }
  nav > a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  nav ul li a {
    font-size: medium;
  }
}
